/* ----------------------------------------------
    PLACEHOLDER SELECTORS
---------------------------------------------- */

%bold { 
	font-weight: bold;
}

%italic {
	font-style: italic;
}

%display-block {
	display: block;
}