/* ----------------------------------------------
    HOME
---------------------------------------------- */

/* ###### our customers ###### */
.customers-box {
	padding-bottom: 80px;
}

.pagetitle {
	color: #555555;
	font-family: $aller-bd;
	font-size: 36px;
}

.pagemeta {
	color: #555555;
	font-family: $aller-lg-rg;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 30px;		
}

.customers-box {
	> .item {
		float: left;
		margin-left: 110px;

		&:first-child {
		margin-left: 0;
		}
	}
} 