/* ----------------------------------------------
    ALLER
---------------------------------------------- */
@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller/aller_bd.woff2') format('woff2'),
         url('../fonts/aller/aller_bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold_italic';
    src: url('../fonts/aller/aller_bdit.woff2') format('woff2'),
         url('../fonts/aller/aller_bdit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_displayregular';
    src: url('../fonts/aller/allerdisplay.woff2') format('woff2'),
         url('../fonts/aller/allerdisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller/aller_it.woff2') format('woff2'),
         url('../fonts/aller/aller_it.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller/aller_lt.woff2') format('woff2'),
         url('../fonts/aller/aller_lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightitalic';
    src: url('../fonts/aller/aller_ltit.woff2') format('woff2'),
         url('../fonts/aller/aller_ltit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller/aller_rg.woff2') format('woff2'),
         url('../fonts/aller/aller_rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------
    DROIDSANS
---------------------------------------------- */
@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans/droidsans.woff2') format('woff2'),
         url('../fonts/droidsans/droidsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansbold';
    src: url('../fonts/droidsans/droidsans-bold.woff2') format('woff2'),
         url('../fonts/droidsans/droidsans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}