/*--------------------------------------------------------------
    RESET
--------------------------------------------------------------*/
a:hover,
a:focus, 
a:active {
	outline: none;
}

input::-moz-focus-inner { border: 0; }

ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}