/* ----------------------------------------------
	FOOTER
---------------------------------------------- */
.footer-box {
	padding-bottom: 40px;
	background-color: $grey;
	
	.title {
		margin-bottom: 20px;		
		font-family: $aller-bd;
		@include fontsize(14);
		text-transform: uppercase;
		color: $white;
	}

	.paragraph {
		@include fontsize(15);
		color: #c9c9c9;
	}
}

.item-post {
	padding: 8px 25px 8px 0;
	background: transparent url(#{$bg-path}/footer-line.png) repeat-x center top;		
	
	&:first-child {
		background: none;
	}

	&.-icontweet {
		&:before {
	    	content: "";
	    	padding-left: 24px;	
	    	background: transparent url(#{$bg-path}/bg-tweets.png) no-repeat center left;
	    }	
	}	

	> .link {
		@include fontsize(15);
		line-height: 24px;
		color: #c9c9c9;

		&:hover {
			color: $blue;
			text-decoration: none;
		}

	}

	> .meta {
		display: block; 
		margin: 6px 0;
		font-family: $aller-bd;
		@include fontsize(13);		
		color: #c9c9c9;
	}

}