// FOOTER
// --------------------------------------------------

.footer-box {
	border-top: 5px solid $gray-dark;
	background-color: $gray;	
}

.footer-content {
	> .title {
		color: #e3e3e3;
		font-family: $aller-bd;
		text-transform: uppercase;
		@include fontsize(14);
	}

	> .description {
		color: #bfbfbf;
		font-family: $droid-rg;
		margin-bottom: 2rem;
		padding-top: 1.3rem;
		@include fontsize(13);
	}

	@include make-xs-column(12);
	
	@media(min-width: 480px) {
    	display: inline-block;
		float: none;
    	width: 49.6%;
    	vertical-align: top;		
	}
	
	@include make-sm-column(3);
}

.posts-box {
	@extend .list-unstyled;
}

.posts-list {
	background: url(../images/bgs/footer-line.png) center top repeat-x;
	font-family: $droid-rg;
	padding: 1.3rem 0;

	&:first-of-type {
		background: none;
	}

	&.-icontweet:before {
    	content: "";
    	padding-left: 24px;
    	background: url(../images/bgs/bg-tweets.png) center left no-repeat;
	}	
	
	> .link {
		color: #bfbfbf;
		font-weight: 700;
		margin-bottom: .5rem;
		@include fontsize(13);
	}

	> .meta {
		display: block;
		@include fontsize(11);

		&.-gray { color: #899096; }
		&.-blue { color: #86acc4; display: inline-block; }
	}
}

.form-custom {
	color: #fff;
	margin-bottom: 1rem;
	@include fontsize(11);
	@extend .form-control;

	&:focus {
		box-shadow: none;
		border-color: #bfbfbf;
	}
}