//	GENERAL
// --------------------------------------------------
.divider-section {
	height: .3rem;
	margin-top: 3rem;
	margin-bottom: 5rem;	
	background: transparent url(../images/bgs/line.png) repeat-x;
	border: none;
}