/* ----------------------------------------------
	HEADER
---------------------------------------------- */
.header-container {
	background-color: $grey;
	border-bottom: 5px solid #4a4d50;

	.logo {
		margin: 0;
		padding: 10px 0 20px 10px;

		@media(min-width: 768px){
			padding: 25px 0 24px 0;
		}
	}
}

.navbar-header {
	> .hamburguer {
		margin: 15px 15px 0 0;
		padding: 5px 10px;
		font-size: calc-em(18);
		border-color: $blue;
		color: $blue;

		&:hover,
		&:focus {
			background-color: $blue;
			color: $dark-grey;		
		}	
	}
}

.menu-box {
	@media(min-width: 768px){
		float: right;
	}	
}

.menu-item {
	display: block;
	margin-left: -4px;
	padding-top: 5px;
	padding-bottom: 5px;

	@media(min-width: 768px){
		padding-top: 0;
		padding-bottom: 0;		
	}

	&:first-child {
		@media(min-width: 768px){
			border-left: 1px solid #2c2e30;
		}			
	}	

	@media #{$screen-sm}{
		display: inline-block;
	}

	> .link {
		display: block;
		padding: 15px 10px;
		color: #d4d4d4;
		font-family: $aller-bd;
		text-decoration: none;
		text-transform: uppercase;
		@include fontsize(13);

		@media(min-width: 768px){
			padding: 43px 20px 25px 20px;
			background: transparent url(#{$bg-path}/menu-line.png) repeat-y right top;			
		}

		&:hover {
			background-color: #2c2e30;
			color: #5e7c8f;
			transition: all 0.5s ease;				
		}

		&:focus,
		&:active {
			background-color: #2c2e30;
			color: #5e7c8f;
		}
	}

}