/* ----------------------------------------------
	HEADER
---------------------------------------------- */
.header-box {
	border-color: none;
	border-radius: 0;
	border-bottom: 5px solid #4a4d50;
	@extend .navbar, .navbar-inverse;

	@media(min-width: 960px) {
		min-height: 88px;
	}
}

.logo-box {
	line-height: 50px;
	padding-left: 15px;
	@extend .navbar-header;

	.logo {
		@media(min-width: 960px) {
			padding-top: 9px;
		}		
	}

	@media(min-width: 960px) {
		line-height: 88px;
	}	
}

.menu-box {
	@extend .nav, .navbar-nav, .navbar-right;	
}

.menu-item {
	> .link {
		font-family: $aller-bd;
		text-transform: uppercase;
		@include fontsize(12);

		@media(min-width: 960px) {
			line-height: 58px;
			padding-top: 25px;
			padding-bottom: 5px;			
		}		
	}
}