// carousel
// --------------------------------------------------
.carousel-section {
	margin-bottom: 3rem;
}

.owl-carousel {
	position: relative;
	@extend .owl-theme;
	@extend .list-unstyled;

	.owl-dots {
		position: absolute;
		width: 100%;
		bottom: 15px;

		.owl-dot > span {
			background-color: transparent;
			border: 2px solid #f3f3f3;
		}

		.owl-dot.active > span {
			background-color: #f3f3f3;
			border: 2px solid #f3f3f3;
		}		
	}

	.owl-nav {
		> .owl-prev,
		> .owl-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 35px;
			height: 35px;
			border-radius: 50%; 
			background-color: #f3f3f3;
			font-size: 20px;
			color: #000;
		}

		> .owl-prev:hover,
		> .owl-next:hover {
			background-color: $blue;
		}		

		> .owl-prev {
			left: 0;
		}

		> .owl-next {
			right: 0;
		}
	}
}

// our services 
// --------------------------------------------------
.tab-service {
	border-bottom: 1px solid #c5c5c5;
	text-align: center;
	@extend .nav, .nav-tabs;

	> li {
		float: none;
		width: 90%;
		margin-right: 0;
		margin: 0 auto -1px auto;

		@media(min-width: 414px){
			width: auto;
			display: inline-block;
			margin-left: -3px;
		}
	}

	> li > a {
		padding: 10px 24px;
		color: #555;
		font-family: $droid-rg;
		font-weight: 700;
		@include fontsize(13);

		@media(min-width: 414px){
			padding: 6px 24px;
		}
	}

	> li > a:hover {
		border: 1px solid #c5c5c5;
		border-radius: 0;
	}

	> li > a,
	> li > a:focus,
	> li.active > a,
	> li.active > a:focus {
		border: 1px solid #c5c5c5;
		border-bottom-color: transparent;
		border-radius: 0;
	}

	> li.active > a,
	> li.active > a:focus {		
		color: $blue;
	}
}

.tab-box {
	padding-top: 3rem;
	@extend .clearfix;
}

.tab-thumb {
	@include make-sm-column(5);

	> .thumb {
		@extend .img-responsive;
		@extend .hidden-xs;
	}

	@media(min-width: 768px){
  		padding-left:  0;	
	}
}

.tab-description {
	text-align: left;
	@include make-sm-column(7);
	color: #555;
	
	> .title {
		margin-top: 0;
		font-family: $aller-bd;
		@include fontsize(17);		
	}

	> .description {
		font-family: $droid-rg;
		margin-bottom: 2.5rem;
		@include fontsize(13);
	}

	@media(min-width: 768px){
  		padding-right:  0;	
	}
}

.tab-ul {
	@extend .list-unstyled;

	> .item {
		font-family: $droid-rg;
		@include fontsize(13);	

		&.-iconchecked:before {
    		content: "";
    		padding-left: 24px;
    		background: url(../images/icons/icon-checked.png) center left no-repeat;
		}			
	}
}

// latest projects
// --------------------------------------------------
.projects-ul {
	@extend .list-unstyled;
	text-align: center;
}

.projects-item {
	display: inline-block;
	width: 48%;
	margin-left: .4rem;

	@media(min-width: 650px){
		width: 31.5%;
	}

	@media(min-width: 992px){
		width: auto;

		margin-left: .8rem;
		margin-bottom: .2rem;
		
		&:first-of-type,   
		&:nth-child(4) {
			margin-left: 0;
		}		
	}
}

// Latest Blog
// --------------------------------------------------
.latest-box {
	margin-bottom: 2rem;
	text-align: left;
	@extend .clearfix;
	@include make-xs-column(12);
	@include make-sm-column(6);
	padding-right: 0;
	padding-left: 0;

	@media(min-width: 680px) {
		width: 50%;
	}
}

.date-blog {
	width: 48px;
	float: left;

	@media(min-width: 360px) {
		width: 54px;
	}
}

.date-circle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 48px;
	height: 48px;
	border-radius: 50%; 
	background-color: #ececec;
	
	> .day,
	> .month {
		display: block;
	}

	> .day {
		line-height: 2.2rem;
		@include fontsize(22);	
	}

	> .month {
		text-transform: uppercase;
	}

	@media(min-width: 360px) {
		width: 54px;
		height: 54px;
	}
}

.latest-content {
	color: #555;
	@include make-xs-column(10)
	@include make-sm-column(10)

	> .title {
		margin-top: 0;
		font-family: $aller-bd;
		@include fontsize(17);
	}

	> .description {
		font-family: $droid-rg;
		@include fontsize(14);

		.link {
			color: #555;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.tag-blog {
	display: inline-block;
	margin-bottom: 0;
	@extend .list-unstyled;

	> .tag-item {
		display: inline-block;

		&:after {
			content: ", ";
			color: $blue;
		}

		&:last-child {
			&:after {
				content: "";
			}
		}

		.link {
			color: $blue;
			@include fontsize(11);	
		}
	}
}

.comments-blog {
	color: $blue;
	@include fontsize(11);

	&:before {
		content: " | ";
	}	 
}

// our customers
// --------------------------------------------------
.customers-box {
	overflow: hidden;
	text-align: center;
	@extend .list-unstyled;
	
	> .customers-item {
		margin-bottom: 30px;
		width: 50%;		
		float: left;

		@media(min-width: 480px) {
			width: 33.333%;
		}
	
		@media(min-width: 992px) {
			width: 16.666%;
		}	

	}
} 