.single-box {
	@include make-sm-column(8);

	> .thumb {
		margin: 2rem 0;
		@extend .img-responsive;
	}

	> p {
		line-height: 2rem;
		margin-bottom: 2rem;
		@include fontsize(15);		
	}
}

.single-header {
	.single-title {
		display: inline-block;
    	width: 79%;
    	margin-left: 1rem;

		.title {
			margin-top: .8rem;
			margin-bottom: 0;
			font-family: $aller-bd;
			@include fontsize(20);
		}

		@media(min-width: 768px){
    		width: 82%;
		}    	
	}
}

.date-single {
	width: 5rem;
	@extend .date-blog;

	@media(min-width: 768px){
		width: 7rem;
	}
}

.single-circle {
	width: 5rem;
	height: 5rem;
	@extend .date-circle;

	@media(min-width: 768px){
		width: 7rem;
		height: 7rem;
	}
}

.divider-header {
	margin: 1rem 0 .5rem 0;
	@extend .divider-section;
}

// Related posts
.related-posts {
	> .title {
		margin-bottom: 1.5rem;
		font-family: $aller-bd;
		@include fontsize(14);
	}
}

.related-ul {
	@extend .list-unstyled;
	
	> .related-item {
		display: inline-block;
		margin-left: 4px;
		width: 31%;

		&:first-of-type {
			margin-left: 0;

			@media(min-width: 520px){
				margin-left: -4px;
			}
		}

		&:last-of-type {
			@extend .hidden-xs;
		}		

		.thumb {
			@extend .img-responsive;
		}

		@media(min-width: 520px){
			width: auto;
		}

		@media(min-width: 768px){
			width: 24%;
		}
	}
}