/*--------------------------------------------------------------
    GENERAL
--------------------------------------------------------------*/
.dividersection {
	height: 3px;
	margin-top: 30px;
	margin-bottom: 50px;	
	//background: transparent url(#{$bg-path}/line.png) repeat-x;
	border: none;
}