/* ----------------------------------------------
    HOME
---------------------------------------------- */

/* ###### our customers ###### */
.customers-box {
	padding-bottom: 80px;
}

.pagetitle {
	font-family: $aller-bd;
	@include fontsize(36);
	color: #555555;
}

.pagemeta {
	margin-bottom: 30px;	
	font-family: $aller-lg-rg;
	@include fontsize(20);
	line-height: 28px;
	color: #555555;		
}

.customers-logos {
	padding-bottom: 80px;
	text-align: center;
	
	> .item {
		margin-bottom: 30px;
		width: 50%;		
		float: left;

		@media #{$screen-xs} {
			width: 33.333%;
		}
	
		@media #{$screen-md} {
			width: 16.666%;
		}	

	}
} 