//	HOME
// --------------------------------------------------
.home-section {
	text-align: center;

	> .description {
		margin-bottom: 30px;	
		font-family: $aller-lg-rg;
		line-height: 28px;
		color: #555;			
		@include fontsize(20);
	}
}

.title-page {
	color: #555;
	font-family: $aller-bd; 
	font-weight: 700;
	@include fontsize(30);
}

/* ###### carousel ###### */
.carousel-box {
	@extend .list-unstyled;	
}

.carousel-item {}

/* ###### our customers ###### */
.customers-box {
	padding-bottom: 8rem;
	text-align: center;
	@extend .list-unstyled;
	
	> .customers-item {
		margin-bottom: 30px;
		width: 50%;		
		float: left;

		@media(min-width: 480px) {
			width: 33.333%;
		}
	
		@media(min-width: 992px) {
			width: 16.666%;
		}	

	}
} 