/* ----------------------------------------------
	FORMS
---------------------------------------------- */

/* form custom */
.form-custom {
	background-color: #272B2E;
	border-color: #272B2E;
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 10px;

	&:focus {
		border-color: #777;
		box-shadow: none;	
	}	
}

/* structure form */
#responsive-form {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
}

.form-row{
	width: 100%;
}

.column-half, .column-full{
	float: left;
	position: relative;
	padding: 0.65rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.column-full {
	width: 100%;
}

.column-half {
	width: 50%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*------------------------------
    MEDIA QUERY
-------------------------------*/
@media (max-width: 768px) {
	.column-half{
		width: 100%;
	}	
}

/*------------------------------
    CONTACT FORM 7
-------------------------------*/
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
	width: 100%;
	padding: 4px 13px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box
}

.wpcf7 input[type="text"]:focus {
	background: #fff;
}

.wpcf7-validation-errors, .wpcf7-mail-sent-ok {
	display: inline-block;
}
