/* ----------------------------------------------
    VARIABLES
---------------------------------------------- */

/* Paths
// -------------------------------------------- */
$bg-path				: '../images/bgs';

/* Tipography
// -------------------------------------------- */
$aller-rg		: 'allerregular';
$aller-dp-rg	: 'aller_displayregular';
$aller-it		: 'alleritalic';
$aller-lg-rg	: 'aller_lightregular';
$aller-lg-it	: 'aller_lightitalic';
$aller-bd		: 'allerbold';
$aller-bd-it	: 'allerbold_italic';

$droid-rg		: 'droid_sansregular'; 
$droid-bd		: 'droid_sansbold';

/* 	Color Palette
// -------------------------------------------- */
$white		: #fff;
$black		: #000;
$blue		: #86acc4;
$grey		: #3a3d40;
$light-grey	: #3a3d40;
$dark-grey	: #2f3235;